<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title %></title>
  </head>
  <body>
    
    <div id="form">
      <h1>Caesar Cipher</h1>
        <form action="/" method="POST">
          <label for="word">Enter word:</label>
          <input type="text" name="word">
          <label for="shift">Enter Shift Factor:</label>
          <input type="text" name="shift">
          <input type="submit" value="Submit">
        </form>
    </div>
    <% if @result %>
      <div id="output">
        <p>The result is: <%= @result %>.</p>  
      </div>
    <% end%>
  </body>
</html>